.dashboardHeader {
  display: block;
  width: max-content;
  background: none;
  margin-bottom: 77px;
  padding: 0;
}

.dashboardHeader h1 {
  margin: 0 0 41px;
  width: max-content;
  font-size: 48px;
  font-weight: var(--font-weight-medium);
}

.dashboardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(263px, auto);
  column-gap: 30px;
  row-gap: 28px;
}

.dashboardWrapper section,
aside {
  box-sizing: border-box;
}

.activityGraphic {
  grid-area: 1 / 1 / 2 / 4;
  min-height: 320px;
  position: relative;
  background-color: var(--light-background-color);
  border-radius: 5px;
}

.barChartTitle {
  position: absolute;
  margin: 0;
  top: 24px;
  left: 32px;
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  color: var(--title-text-color);
}

.averageSessionsGraphic {
  grid-column: 1;
  grid-row: 2;
}

.performanceGraphic {
  grid-column: 2;
  grid-row: 2;
}

.todayScoreGraphique {
  grid-column: 3;
  grid-row: 2;
}

.keyDataCards {
  grid-area: 1 / 4 / 3 / 5;
}
