.dashboardHeader {
  display: block;
  width: max-content;
  background: none;
  margin-bottom: 77px;
  padding: 0;
}

.dashboardHeader h1 {
  margin: 0 0 41px;
  width: max-content;
  font-size: 48px;
  font-weight: var(--font-weight-medium);
}

.dashboardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(263px, auto);
  column-gap: 30px;
  row-gap: 28px;
}

.dashboardWrapper section,
aside {
  box-sizing: border-box;
  border-radius: 5px;
}
.dashboardWrapper h2 {
  position: absolute;
  margin: 0;
  font-size: 15px;
  font-weight: var(--font-weight-medium);
}
/* graphique activité quotidienne */
.activityGraphic {
  grid-area: 1 / 1 / 2 / 4;
  height: 320px;
  position: relative;
  background-color: var(--red-background-color);
}

.barChartTitle {
  top: 24px;
  left: 32px;
  color: var(--title-text-color);
}

.averageSessionsGraphic,
.performanceGraphic,
.todayScoreGraphique {
  height: 263px;
}
/* graphique durée moyenne des sessions */
.averageSessionsGraphic {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  background-color: var(--graphic-red-color);
}

.lineChartTitle {
  top: 29px;
  left: 34px;
  width: 147px;
  color: var(--primary-color);
  opacity: 50.4%;
}

.performanceGraphic {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--graphic-black-color);
}

.todayScoreGraphique {
  grid-column: 3;
  grid-row: 2;
}

.keyDataCards {
  grid-area: 1 / 4 / 3 / 5;
}
