.layoutWrapper {
  width: 100%;
}

header {
  padding: 0 91px 0 28px;
  background-color: var(--dark-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerNav {
  width: 75.25%;
  padding: 36px 0 31px;
}

.headerNav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerNav li {
  width: 65px;
  color: var(--primary-color);
  font-size: 24px;
}

.headerNav li:last-child {
  width: 142px;
}

main {
  width: 100%;
  display: flex;
}

.mainNav {
  position: relative;
  padding: 0 27px 361px 26px;
  background-color: var(--dark-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.pictoButtonsWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.copyright {
  position: absolute;
  width: 138px;
  bottom: 128px;
  left: -21px;
  color: var(--primary-color);
  transform: rotate(-90deg);
  font-size: 12px;
}
.pageWrapper {
  height: 100%;
  padding: 68px 0 85.5px;
  flex: 1;
}
article {
  box-sizing: border-box;
  padding: 0 17px;
  width: fit-content;
  margin: 0 auto;
}
