.homeWrapper {
  width: 100%;
  height: 90vb;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.homeTitle {
  margin: 20px 0;
  font-size: 48px;
  line-height: 48px;
}

.usersList {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 20px;
  padding-top: 10px;
}

.itemUsersList,
.itemUsersList:last-child {
  width: 100%;
  border-radius: 8px;
  background-color: #c4c4c480;
}

.linkToUser {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  color: var(--emphasis-text-color);
  line-height: 36px;
  font-size: 18px;
}
